/* global style  */
:root {
    --main-color: #FFE500;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small screen  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium screen */
@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}
/* large screen  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.btn {
    border-style: none;
    padding: 20px 40px;
    background-color: var(--main-color);
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
}

.our {
    text-align: center;
}

.our h2 {
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 0;
    letter-spacing: 15px;
}

.our p {
    color: #777;
    line-height: 1.8;
    width: 75%;
    margin: auto;
}

/* header section  */

#header {
    background-image: url(../images/hero3.jpg);
    background-size: cover;
    background-position-y: 30%;
    width: 100%;
    height: 75vh;
}

#header .container .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#header .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#header .nav .icon span {
    width: 100%;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
    transition: 0.3s;
}

#header ul {
    list-style: none;
    position: fixed;
    background-color: #f3f3f3;
    width: 30%;
    height: 100vh;
    top: 0;
    right: -100%;
    margin-top: 0;
    text-align: center;
    z-index: 999;
}
#header .nav .menu:hover ul {
    right: 0px;
}
#header .menu ul li {
    margin: 70px 0 0;
    padding: 0px;
}
#header .menu ul a {
    text-decoration: none;
    color: black;
    font-size: 35px;
    transition: 0.3s;
}

#header .menu ul a:hover {
    color: var(--main-color);
    padding-left: 20px;
}

#header .header-content {
    text-align: center;
    margin-top: 100px;
}

#header .header-content h3 {
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    letter-spacing: 10px;
    font-size: 25px;
}

#header .header-content p {
    color: #e5dcdc;
    padding: 10px 0 30px;
    letter-spacing: 7px;
}

#header .btn:hover {
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 25px;
    color: white;
}

/* home section  */

.home .container {
    text-align: center;
    padding: 100px 0px;
}

.home .container p {
    padding: 50px;
    color: #777;
    width: 75%;
    margin: auto;
    line-height: 1.8;
    font-size: 18px;
}

/* services section  */
.services {
    background-color: #F5F5F5;
    padding: 60px 0 0;
}

.services .cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    text-align: center;
    padding: 100px 0px 0px;
    margin-bottom: 30px;
}

.services .cards .card {
    background-color: white;
    padding: 50px 10px 20px;
}

.services .cards .card h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 25px 0;
    margin: 0;
}

.services .cards .card p {
    color: #777;
    line-height: 2;
}

.services .card-prog {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin-bottom: 30px;
}

.services .card-prog .progress {
    background-color: white;
    padding: 20px 10px;
}

.services .card-prog .progress h6 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 15px;
    margin-top: 0px;
}

.services .card-prog .progress .prog {
    width: 100%;
    height: 6px;
    background-color: #f5f5f5;
    margin: 10px 0px;
    border-radius: 0.25rem;
}

.services .card-prog .progress .prog-made {
    background-color: var(--main-color);
    height: 6px;
    border-radius: 0.25rem;
}

.services .prog-ps{ width: 90%;}
.services .prog-ai{ width: 80%;}
.services .prog-id { width: 75%;} 
.services .prog-ui { width: 80%;}
.services .prog-ux { width: 70%;}
.services .prog-resp { width: 65%;}
.services .prog-html { width: 75%;}
.services .prog-css { width: 80%;}
.services .prog-js { width: 90%;}
.services .prog-c { width: 70%;}
.services .prog-java { width: 50%;}
.services .prog-swift { width: 80%;}

.services .status {
    background-color: #1B1B1B;
    width: 100%;
    padding: 60px 0;
}

.services .status .container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 35px;
    text-align: center;
}

.services .status .stat {
    background-color: white;
    padding: 10px 0px;
}

.services .status h3 {
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    line-height: 1.8;
}

.services .status p {
    font-size: 0.9rem;
    margin: 0px;
    padding: 0px;
    opacity: 0.6;
    font-weight: 600;
    line-height: 1.8;
    text-transform: uppercase;
}


/* portfolio section  */

.portfolio {
    padding: 60px 0;
}

.portfolio .wow {
    text-align: center;
    margin: 60px 0 0;
}

.portfolio .wow a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 20px;
    padding-bottom: 5px;
    transition: 0.15s;
}

.portfolio .wow a:hover {
    border-bottom: 3px solid var(--main-color);
    color: #777;
}

.portfolio .wow img {
    vertical-align: middle;
}

.portfolio .portfolio-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    padding: 60px 0 40px;
}

.portfolio .portfolio-cards .card {
    width: 100%;
}

.portfolio-cards .card img {
    width: 100%;
}

.portfolio .video-sec {
    background-color: #39393C;
    padding: 100px;
    margin: 20px 0;
}

.portfolio .video-sec .btn {
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding: 25px 50px;
    font-weight: 800;
    font-size: 0.9rem;
}

/* team section  */
.team {
    position: relative;
    margin-bottom: 50px;
}

.team .team-members {
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 45px;
}

.team .team-members .member-card {
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
}

.team .member-card .img-cont {
    position: relative;
}

.team .team-members .member-card img {
    width: 100%;
}

.team .team-members .member-card h6 {
    background-color: var(--main-color);
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 60px;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 3.5;
    opacity: 0.9;
}

.team .team-members .member-card p {
    color: #777;
    line-height: 1.6;
    margin: 0px;
    padding: 20px 10px;
}

.team .quote-info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.team .black-quote {
    background-color: #1B1B1B;
    color: #BABABA;
    font-size: 0.8rem;
    padding: 50px;
    margin-bottom: 80px ;
    line-height: 1.8;
    letter-spacing: 0.025rem;
}

.team .white-quote {
    text-align: center;
    color: #777;
    padding: 0 50px;
    line-height: 1.8;
    letter-spacing: 0.025rem;
}

.team .white-quote .quote-name {
    text-align: start;
    color: black;
    font-weight: bold;
    font-style: italic;
    margin-top: 30px;
}

.team .white-quote .right {
    text-align: right;
}

.team .quote-image {
    margin-top: 50px;
}

.team .bg-yellow {
    position: absolute;
    width: 100%;
    height: 210px;
    background-color: #FFE600;
    right: 0;
    bottom: 180px;
    z-index: -999;
}

/* start footer  */

.footer {
    background-color: #1B1B1B;
    color: #B0B0B5;
    padding: 50px 0;
}

.footer .container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    grid-gap: 30px;
}

.footer .container .foot-cont p {
    margin: 30px 0 0;
    font-size: 0.8rem;
    line-height: 1.8;
    letter-spacing: 00.025rem;
}

.footer .foot-cont p span {
    color: var(--main-color);
    font-weight: bold;
}

.footer .foot-cont p span:hover {
    color: white;
    cursor: pointer;
}

.footer .foot-cont p:last-of-type {
    margin-top: 15px;
}

.footer h4 {
    margin-top: 0px;
    text-transform: capitalize;
}

.footer .links p,
.footer .about p {
    text-transform: capitalize;
    cursor: pointer;
}

.footer p {
    font-size: 00.8rem;
    line-height: 1.8;
    letter-spacing: 00.025rem;
}

.footer .btn {
    border-radius: 26px;
    width: 100%;
    margin: 30px 0;
    text-transform: capitalize;
    font-size: 0.9rem;
    border: 1px solid var(--main-color);
}

.footer .btn:hover {
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: white;
}

.footer ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

/* responsive  */

@media (max-width: 991px) {
    .services .cards,
    .services .card-prog,
    .services .status .container,
    .portfolio .portfolio-cards {
        grid-template-columns: repeat(2,1fr);
        gap: 35px;
    }
    .team .black-quote {
        padding: 20px;
        text-align: center;
    }
    .team .quote-info {
        flex-wrap: wrap;
    }
    .team .quote-image img {
        width: 100%;
    }
    .team .white-quote {
        padding: 0 20px;
    }
    .team .white-quote .quote-name {
        text-align: center;
    }
    .team .bg-yellow {
        display: none;
    }
}

@media (max-width: 767px) {
    #header {
        height: 100vh;
    }
    .home .container {
        text-align: center;
        padding: 50px 0px;
    }
    .menu {
        display: none;
    }
    #header .nav .menu:hover ul {
        padding-left: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #header .menu ul li {
        margin: 0px;
    }
    .our p {
        width: 95%;
    }
    .home .container p {
        padding: 50px 10px;
        width: 90%;
    }
    .services .cards,
    .services .card-prog,
    .services .status .container {
        grid-template-columns: repeat(1,1fr);
        gap: 35px;
    }
    .portfolio .wow img {
        display: none;
    }
    .portfolio .video-sec {
        padding: 100px 10px;
    }
    .footer .container {
        grid: none;
        text-align: center;
    }
}