/* global style  */
:root {
    --main-color: #FFE500;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small screen  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium screen */
@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}
/* large screen  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.our {
    text-align: center;
}

.our h2 {
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 0;
    letter-spacing: 15px;
}

.our p {
    color: #777;
    line-height: 1.8;
    width: 75%;
    margin: auto;
}

/* header section  */

#header {
    background-image: url(../images/hero.png);
    background-size: cover;
    width: 100vw;
    height: 75vh;
}

#header .container .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .nav {
    padding: 30px;
}

#header .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#header .nav .icon span {
    width: 100%;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
    transition: 0.3s;
}

#header .nav .icon span:nth-child(2) {
    width: 75%;
}

#header .nav .icon span:last-child {
    width: 50%;
}

#header .nav .icon:hover span {
    width: 100%;
}

#header ul {
    list-style: none;
    position: fixed;
    background-color: #f3f3f3;
    width: 30%;
    height: 100vh;
    top: 0;
    right: -100%;
    margin-top: 0;
    text-align: center;
}
/* #header .nav .icon:hover ul {
    right: 0;
} */
#header .menu ul li {
    margin: 50px;
}
#header .menu ul a {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

#header .header-content {
    text-align: center;
    margin-top: 100px;
}

#header .header-content h3 {
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    letter-spacing: 7px;
    font-size: 25px;
}

#header .header-content p {
    color: #f3f3f3;
    padding: 10px 0 30px;
    letter-spacing: 2px;
}

#header .header-content .btn {
    border-style: none;
    padding: 10px 30px;
    background-color: var(--main-color);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

/* home section  */

.home .container {
    text-align: center;
    padding: 100px 0px;
}

.home .container p {
    padding: 50px;
    color: #777;
    width: 75%;
    margin: auto;
    line-height: 1.8;
    font-size: 18px;
}

/* services section  */
.services {
    background-color: #F5F5F5;
    padding: 60px 0 20px;
}

.services .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 35px;
    text-align: center;
    padding: 100px 0px 0px;
    margin-bottom: 30px;
}

.services .cards .card {
    background-color: white;
    padding: 50px 10px 20px;
}

.services .cards .card h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 25px 0;
    margin: 0;
}

.services .cards .card p {
    color: #777;
    line-height: 2;
}

.services .card-prog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 35px;
    margin-bottom: 30px;
}

.services .card-prog .progress {
    background-color: white;
    padding: 20px 10px;
}

.services .card-prog .progress h6 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 15px;
    margin-top: 0px;
}

.services .card-prog .progress .prog {
    width: 100%;
    height: 6px;
    background-color: #f5f5f5;
    margin: 10px 0px;
    border-radius: 0.25rem;
}

.services .card-prog .progress .prog-made {
    background-color: var(--main-color);
    height: 6px;
    border-radius: 0.25rem;
}

.services .prog-ps{ width: 90%;}
.services .prog-ai{ width: 80%;}
.services .prog-id { width: 75%;} 
.services .prog-ui { width: 80%;}
.services .prog-ux { width: 70%;}
.services .prog-resp { width: 65%;}
.services .prog-html { width: 75%;}
.services .prog-css { width: 80%;}
.services .prog-js { width: 90%;}
.services .prog-c { width: 70%;}
.services .prog-java { width: 50%;}
.services .prog-swift { width: 80%;}

.services .status {
    background-color: #1B1B1B;
    width: 100%;
    padding: 60px 0;
}

.services .status .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 35px;
    text-align: center;
}

.services .status .stat {
    background-color: white;
    padding: 10px 0px;
}

.services .status h3 {
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    line-height: 1.8;
}

.services .status p {
    font-size: 0.9rem;
    margin: 0px;
    padding: 0px;
    opacity: 0.6;
    font-weight: 600;
    line-height: 1.8;
    text-transform: uppercase;
}


